
.col{
    margin-top: 50px;
    padding-top: 20px;
    height: 10px;
}
.para{
    margin-top: 200px;
}
.para h3{
    color: white;
    font-size: 40px;
    font-style: bold;
}
.first{
    background-color:#0F1F4B;
    width: 340;
    height: 440;
}
.first h4{
    color: white;
    width: 94;
    height: 35;
text-align: center;
font-size: 30px;
font-weight: bold;
}
.hori0{
    color:#2A407C;
}
.user0{
    text-align: center;
    color:#8794BA;
    padding-top: -100px;
}
.first h2{
    color: white;
    width: 87;
    height: 70;
text-align: center;
font-weight: bold;
}


.middle{
    background-color:white;
    width: 340;
    height: 440;
}

.middle h4{
    color:#172755;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.middle h2{
    color: #172755;
    width: 87;
    height: 70;
text-align: center;
font-weight: bold;
}


.hori1{
    color:#D3D9E9;
}
.last{
    background-color:#0F1F4B;
    width: 340;
    height: 440;
}
.last h4{
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.last h2{
    color: white;
    width: 87;
    height: 70;
text-align: center;
font-weight: bold;
}

.pm{
    text-align: center;
    color:#8794BA;
    }

 .btn1{
    border-radius: 15px;
    border-color: #8794BA;
    width: 50%;
    height: 19;
} 
.btn3{
    margin-block-end: 30;
    border-radius: 15px;
    /* border-color: #8794BA; */
    width: 50%;
    height: 19;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border:none;
    border-radius: .25rem;
}

.btn-outline-primary {
    border-color:#2A407C
}

.hori2{
    color:#2A407C;
    
}
