.logo {
  margin-top: 50px;
  height: 40px;
  width: 40px;

}
.nav-link {
  color: #8794ba;
  text-align: center;

}
.lead {
  margin-top: 30px;
}
#navbarSupportedContent {
  margin-left:81.98px;
  color: #8794ba;
}
.head {
  color: white;
  text-decoration: none;
  float: right;
  padding: 8px 12.63px;
  width: 117.45px;
  height: 16.2px;
  top: 12.01px;
  left: 52.63px;
}
li {
  display: inline;
}

.btn {
  border-radius: 15px;
  width: 150%;
  height: 19;
  top: 10.5;
  left: 53;

  border-color: #8794ba;
}
.btn-primary{
  color: #8794ba;
  background-color: transparent;
}

.Login {
  margin-right: 35px;
}



.load {
  margin-top: 150px;
  margin-left: 100px;
}
h1 {
  color: white;
  font-style: bold;
}
div p {
  color: #8794ba;
}

.limg {
  border-radius: 30px;
  margin-left: 535px;
  margin-top: -400px;
}
.img-fluid{
  max-height:800px;
}
