
  .logo{
    margin-top: 50px;
    height: 40px;
    width: 40px;
    
  }
  .nav-link {
    color:#8794BA ;
  }
  .lead{
    margin-top: 30px;
  }
  #navbarSupportedContent{
    margin-left:15%;
    color:#8794BA
  }
  a{
    color: white;
    text-decoration: none;
  }
  li {
    display: inline;
  }

.btn {
  border-radius: 15px;
  width: 150%;
  height: 19;
  top: 10.5;
  left: 53;
  color:#8794BA
}
.Login{
  margin-right: 35px;
}

.img{
  padding-top: 50in;
}

.load{
  margin-top: 150px;
  margin-left: 100px;
}
h1{
  color: white;
  font-style: bold;
}
div p{
  color:#8794BA;

}

.limg{
  padding-top: 90px;
  border-radius: 20px;
  width: 520px;
  height: 1000px;
}
