
  /* .navbar-brand{
    display: inline;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap; */

  /* }  */
  .header img{
    height: 40px;
    width: 40px;
 margin-top: 50px;
 margin-left: 210px;
 float: left;
    
  }
  .header h1{
    color: white;
    width:117.45px ;
    height:16.2px ;
    margin-top: 62.01px;
    margin-left: 262.63px;
Top :12.01px;
Left :52.63px;
    position: relative; 
  
  }

  
  .nav-link {
    color:#8794BA ;
  }
  .lead{
    margin-top: 30px;
  }
  #navbarSupportedContent{
    margin-left:96px;
    
    width: 65px;
    height: 19px;
    padding: 38px 38px;
    color:#8794BA
  
  }
  li {
    display: inline;
  }

.btn {
  border-radius: 15px;
  width: 150%;
  height: 19;
  top: 10.5;
  left: 53;
}
.sign-up-btn{
  color:#8794BA ;
}
.Login{
  margin-right: 35px;
}



.load{
  margin-top: 150px;
  margin-left: 100px;
}
h1{
  color: white;
  font-style: bold;
}
div p{
  color:#8794BA;

}

.limg{

  border-radius: 20px;
  width: 873x;
  height: 555px;
 
  margin-left: 840px;

}
